name: ci

on:
  pull_request:
    branches:
      - main # Run on every PR to main
      - staging # Run on every PR to staging
      - dev # Run on every PR to dev
      - feature/* # Run on every PR to feature branches
  workflow_call: # This makes it reusable in other workflows
jobs:
  install_dependencies:
    runs-on: ubuntu-latest
    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      # "Installs project dependencies failing if `uv.lock` is missing or out of sync"
      - name: Install project dependencies
        run: uv sync --dev --locked --all-extras

  linting:
    runs-on: ubuntu-latest
    needs: [install_dependencies]
    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      # Run linting check
      - name: Run linting check
        run: uv run ruff check .

  formatting:
    runs-on: ubuntu-latest
    needs: [install_dependencies]
    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      # Run formatting check
      - name: Run formatting check
        run: uv run ruff format --check .

  type_checking:
    runs-on: ubuntu-latest
    needs: [install_dependencies]
    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      # Run type checking
      - name: Run type checking
        run: uv run pyright .

  tests:
    runs-on: ubuntu-latest
    needs: [install_dependencies]
    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      # Run tests
      - name: Run tests
        run: uv run pytest
